body {
    background-image: url("../images/ocean.jpg");
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
}

header nav {
    margin-left: auto;
}

header nav ul {
    display: flex;
    border: 5px solid #e5c3a6;
    gap: 20px;
    list-style: None;
    margin: 0;
    padding: 0;
}

/*----------------------------------------------*/

#hero {
    display: flex;
    justify-content: center;
    padding-bottom: 300px;
}

#hero-content {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

#hero-content a {
    display: flex;
    justify-content: center;
    background-color: yellow;
    width: 50%;
    border-radius: 3px;
    margin: 0 auto;
}

#highlights {
    background-color: #dff1ee;
    width: 100%;
}

#highlights h2 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

#destinations {
    list-style: None;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.destination img {
    width: 100%;
    height: 200px; /* chiều cao cố định */
    object-fit: cover; /* không méo ảnh */
    border-radius: 10px;
}
.destination p {
    display: flex;
    justify-content: center;
    gap: 6px;
}
.destination strong {
    color: #2f9e8f;
}

/*----------------------------------------*/

footer {
    background-color: #1f1f1f;
    margin: 0;
    padding: 0;
}

footer ul {
    list-style: None;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

footer img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}
