* {
    box-sizing: border-box;
}

.container {
    padding: 25px;
    border: 1px solid black;
}

.subject1 {
    display: inline-flex;
    width: 100%;
    gap: 20px;
}

.subject1 input {
    flex: 1;
    gap: 20px;
}

.subject2 input {
    width: 100%;
    flex: 1;
}

.text_area textarea {
    width: 100%;
    flex: 1;
    height: 200px;
}

.footer {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.footer button {
    padding: 6px 16px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #4a94c4;
    background-color: #5aa6d6;
    color: white;
}
